@{
    ViewData["Title"] = "Inicio";
}

<div class="body_wrapper">
    <section class="hosting_banner_area">
        <ul class="list-unstyled b_line">
            <li class="wow fadeInUp" data-wow-delay="0.4s"><img src="img/line_01.png" alt=""></li>
            <li class="wow fadeInUp" data-wow-delay="0.7s"><img src="img/line_02.png" alt=""></li>
            <li class="wow fadeInUp" data-wow-delay="0.9s"><img src="img/line_03.png" alt=""></li>
            <li class="wow fadeInUp" data-wow-delay="1.2s"><img src="img/line_04.png" alt=""></li>
            <li class="wow fadeInUp" data-wow-delay="0.4s"><img src="img/line_05.png" alt=""></li>
            <li class="wow fadeInUp" data-wow-delay="1s"><img src="img/line_06.png" alt=""></li>
            <li class="wow fadeInUp" data-wow-delay="1s"><img src="img/line_07.png" alt=""></li>
            <li class="wow fadeInUp" data-wow-delay="1.3s"><img src="img/line_08.png" alt=""></li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 d-flex align-items-center">
                    <div class="hosting_content">
                        <h2 class="wow fadeInUp" data-wow-delay="0.3s">Toma decisiones oportunas con una herramienta de alta dirección.</h2>
                        <!--<p class="wow fadeInUp" data-wow-delay="0.5s">Get stuffed mate cheeky bugger lurgy loo plastered ruddy bubble and squeak bevvy skive off quaint wellies.</p>-->
                        <a href="" class="hosting_btn btn_hover wow fadeInUp" data-wow-delay="0.7s">Empieza ahora</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="intro">
                        <div class="app_img">
                            <div class="dot dot_one wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;"><span class="dot1"></span><span class="dot2"></span></div>
                            <div class="dot dot_two wow fadeIn" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;"><span class="dot1"></span><span class="dot2"></span></div>
                            <div class="dot dot_three wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;"><span class="dot1"></span><span class="dot2"></span></div>
                            <img class="text_bg one wow fadeInLeft" data-wow-delay="0.8s" src="~/img/WE1.png" alt="" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            <img class="text_bg two wow fadeInDown" data-wow-delay="0.5s" src="~/img/WE2.png" alt="" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                            <img class="text_bg three wow fadeInRight" data-wow-delay="0.3s" src="~/img/we3.png" alt="" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                            <img class="wow fadeIn phone_img" src="~/img/APP.png" alt="" style="visibility: visible; animation-name: fadeIn;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="erp_analytics_area">
        <div class="container">
            <div class="hosting_title erp_title text-center">
                <h2> En todo momento, desde cualquier lugar.</h2>
                <p> Accede en tiempo real a la información de tu negocio, visualiza <br /> los tableros con reportes y compártelos con tu equipo.</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="erp_analytics_item text-center wow fadeInUp">
                        <img src="~/img/ico3-01.png" alt="Inteligencia de negocio"/>
                        <p>Inteligencia de Negocio.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="erp_analytics_item text-center wow fadeInUp" data-wow-delay="0.2s">
                        <img src="~/img/ico1-01.png" alt="Métricas empresariales"/>
                        <p>Métricas empresariales.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="erp_analytics_item text-center wow fadeInUp" data-wow-delay="0.4s">
                        <img src="~/img/ico2-01.png" alt="Aplicación móvil"/>
                        <p>Aplicación móvil gratuita.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hosting_features_area" style="padding-top:140px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="h_features_img">
                        <img class="img-fluid w-100" src="~/img/pantallas.png" alt="Soluciones integrales"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="h_features_content">
                        <div class="hosting_title">
                            <h2>Soluciones inteligentes para tu negocio</h2>
                            <p>Magnify te da el  poder de tener toda tu información en tableros para crear soluciones que aceleran tu negocio.</p>
                        </div>
                        <div class="media h_features_item">
                            <img src="img/icon7.png" alt="">
                            <div class="media-body">
                                <h4 class="h_head">Ahorra tiempo valioso</h4>
                                <p>En unos minutos la plataforma organiza y proyecta los datos de tu empresa para que ahorres tiempo y esfuerzo.</p>
                            </div>
                        </div>
                        <div class="media h_features_item">
                            <img src="img/icon8.png" alt="">
                            <div class="media-body">
                                <h4 class="h_head">Comparte la información </h4>
                                <p>Da acceso a los miembros de tu empresa para que tomen decisiones. Visualiza en todo momento quienes están conectados.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hosting_features_area">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-6">
                    <div class="h_features_img">
                        <img class="img-fluid" src="~/img/image2.png" alt="Integración con SQL y Excel"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="h_features_content">
                        <div class="hosting_title">
                            <h2>Empieza de manera fácil, rápida y segura.</h2>
                            <p>Crea tu cuenta y decide cómo quieres empezar a consultar tus datos. Nosotros nos encargaremos de realizar la integración. </p>
                        </div>
                        <div class="media h_features_item">
                            <img src="img/icon9.png" alt="">
                            <div class="media-body">
                                <h4 class="h_head">Integración con SQL y Excel</h4>
                                <p>
                                    Proporciona la información a la cual quieres dar seguimiento.
                                </p>
                            </div>
                        </div>
                        <div class="media h_features_item">
                            <img src="img/icon10.png" alt="">
                            <div class="media-body">
                                <h4 class="h_head">Integración con tu facturación.</h4>
                                <p>Visualiza los indicadores de tu negocio a través del análisis de tus movimientos.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="h_action_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="h_action_img">
                        <img class="img-fluid" src="~/img/action_img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h_action_content">
                        <h2>Comienza a tomar decisiones basadas en información oportuna.</h2>
                        <p>Escoge el paquete que más te conviene.</p>
                        <a href="/Home/Precio" class="hosting_btn btn_hover">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="app_testimonial_area">
        <div class="text_shadow" data-line="Feedback"></div>
        <div class="container nav_container">
            <div class="shap one"></div>
            <div class="shap two"></div>
            <div class="app_testimonial_slider owl-carousel">
                <div class="app_testimonial_item text-center">
                    <div class="author-img"><img src="~/img/author_img.png" alt=""></div>
                    <div class="author_info">
                        <h6 class="f_p f_500 f_size_18 t_color3 mb-0">Lurch Schpellchek</h6>
                        <p>UI/UX designer</p>
                    </div>
                    <p class="f_400">What a load of rubbish bits and bobs pear shaped owt to do with me bubble and squeak jolly good morish tinkety tonk old fruit, car boot my good sir buggered plastered cheeky David, haggle young delinquent say so I said bite your arm off easy peasy. Skive off it's all gone to pot buggered.</p>
                </div>
                <div class="app_testimonial_item text-center">
                    <div class="author-img"><img src="~/img/author_img.png" alt=""></div>
                    <div class="author_info">
                        <h6 class="f_p f_500 f_size_18 t_color3 mb-0">Lurch Schpellchek</h6>
                        <p>UI/UX designer</p>
                    </div>
                    <p class="f_400">What a load of rubbish bits and bobs pear shaped owt to do with me bubble and squeak jolly good morish tinkety tonk old fruit, car boot my good sir buggered plastered cheeky David, haggle young delinquent say so I said bite your arm off easy peasy. Skive off it's all gone to pot buggered.</p>
                </div>
                <div class="app_testimonial_item text-center">
                    <div class="author-img"><img src="~/img/author_img.png" alt=""></div>
                    <div class="author_info">
                        <h6 class="f_p f_500 f_size_18 t_color3 mb-0">Lurch Schpellchek</h6>
                        <p>UI/UX designer</p>
                    </div>
                    <p class="f_400">What a load of rubbish bits and bobs pear shaped owt to do with me bubble and squeak jolly good morish tinkety tonk old fruit, car boot my good sir buggered plastered cheeky David, haggle young delinquent say so I said bite your arm off easy peasy. Skive off it's all gone to pot buggered.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="h_blog_area sec_pad">
        <div class="container">
            <div class="hosting_title text-center">
                <h2>Tendencias</h2>
                <p>Conoce las últimas tendencias sobre negocios,<br>tecnología y análisis de datos.</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="h_blog_item">
                        <img src="~/img/h_blog1.jpg" alt="">
                        <div class="h_blog_content">
                            <a href="#" class="post_time"><i class="icon_clock_alt"></i>March 20, 2019</a>
                            <a href="#"><h3>How To Deploy a PHP Application with Kubernetes on Ubuntu</h3></a>
                            <div class="post-info-bottom">
                                <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                                <a class="post-info-comments" href="#">
                                    <i class="icon_comment_alt" aria-hidden="true"></i>
                                    <span>3 Comments</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="h_blog_item">
                        <img src="~/img/h_blog2.jpg" alt="">
                        <div class="h_blog_content">
                            <a href="#" class="post_time"><i class="icon_clock_alt"></i>April 22, 2019</a>
                            <a href="#"><h3>How To Build a Node.js Application with Docker</h3></a>
                            <div class="post-info-bottom">
                                <a href="#" class="learn_btn_two">Read More <i class="arrow_right"></i></a>
                                <a class="post-info-comments" href="#">
                                    <i class="icon_comment_alt" aria-hidden="true"></i>
                                    <span>02 Comments</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


