@{
    ViewData["Title"] = "Precio";
}

    <section class="s_pricing_area sec_pad">
        <div class="container custom_container">
            <div class="sec_title text-center mb_70">
                <h2 class="f_p f_size_30 l_height50 f_600 t_color3 mt-5">Obtén una herramienta innovadora para tu negocio.</h2>
                <p class="f_400 f_size_18 l_height34">Empieza a crear una cultura empresarial basada en el análisis de datos e <br />inteligencia de negocios, gracias a la tecnología.</p>
            </div>
            <div class="row mb_30">
                <div class="col-lg-4 col-sm-6">
                    <div class="s_pricing-item">
                        <img class="shape_img" src="~/img/price_line1.png" alt="">
                        <div class="s_price_icon p_icon1">
                            <i class="flaticon-mortarboard"></i>
                        </div>
                        <h5 class="f_p f_600 f_size_20 t_color mb-0 mt_40">MONTHLY</h5>
                        <p class="f_p f_400">Create your first online course</p>
                        <div class="price f_size_40 f_p f_700">$49.00<sub class="f_400 f_size_16">/ mo</sub></div>
                        <ul class="list-unstyled mt_30">
                            <li>Product Recommendations</li>
                            <li>Abandoned Cart</li>
                            <li>Facebook & Instagram Ads</li>
                            <li>Order Notifications</li>
                            <li>Landing Pages</li>
                        </ul>
                        @*<a href="#" class="price_btn btn_hover mt_30">Registrate</a>*@
                        <a href="#" class="price_btn btn_hover mt_30">Registrate</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="s_pricing-item">
                        <img class="shape_img" src="~/img/price_line2.png" alt="">
                        <div class="tag_label">Popular</div>
                        <div class="s_price_icon p_icon2">
                            <i class="flaticon-lightbulb"></i>
                        </div>
                        <h5 class="f_p f_600 f_size_20 t_color mb-0 mt_40">ANUAL Most popular</h5>
                        <p class="f_p f_400">Our most popular plan</p>
                        <div class="price f_size_40 f_p f_700">$6,000<sub class="f_400 f_size_16">/ mo</sub></div>
                        <ul class="list-unstyled mt_30">
                            <li>Product Recommendations</li>
                            <li>Abandoned Cart</li>
                            <li>Facebook & Instagram Ads</li>
                            <li>Order Notifications</li>
                            <li>Landing Pages</li>
                        </ul>
                        <a href="#" class="price_btn btn_hover mt_30">Registrate</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="s_pricing-item">
                        <img class="shape_img" src="~/img/price_line3.png" alt="">
                        <div class="s_price_icon p_icon3">
                            <i class="flaticon-target"></i>
                        </div>
                        <h5 class="f_p f_600 f_size_20 t_color mb-0 mt_40">PLAN CORPORATIVO</h5>
                        <p class="f_p f_400">Experience thebest of lorem</p>
                        <div class="price f_size_40 f_p f_700">$99.00<sub class="f_400 f_size_16">/ mo</sub></div>
                        <ul class="list-unstyled mt_30">
                            <li>Product Recommendations</li>
                            <li>Abandoned Cart</li>
                            <li>Facebook & Instagram Ads</li>
                            <li>Order Notifications</li>
                            <li>Landing Pages</li>
                        </ul>
                        <a href="#" class="price_btn btn_hover mt_30">Contáctanos</a>
                    </div>
                </div>
            </div>
        </div>
    </section>