@{
    ViewData["Title"] = "Ventajas";
}

<section class="prototype_service_info">
    <div class="symbols-pulse active">
        <div class="pulse-1"></div>
        <div class="pulse-2"></div>
        <div class="pulse-3"></div>
        <div class="pulse-4"></div>
        <div class="pulse-x"></div>
    </div>
    <div class="container">
        <h2 class="f_size_30 f_600 t_color3 l_height45 text-center mb_90">Magnify es una herramienta diseñada <br /> especialmente para tus necesidades.</h2>
        <div class="row p_service_info">
            <div class="col-lg-4 col-sm-6">
                <div class="p_service_item pr_70">
                    <div class="icon icon_one"><i class="ti-panel"></i></div>
                    <h5 class="f_600 f_p t_color3">Representación de datos</h5>
                    <p class="f_400">Tú información concentrada en un solo lugar por medio de generación reportes y tableros.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="p_service_item pl_50 pr_20">
                    <div class="icon icon_two"><i class="ti-layout-grid2"></i></div>
                    <h5 class="f_600 f_p t_color3">Tableros diseñados</h5>
                    <p class="f_400">Magnify conoce tus necesidades como empresario y tiene integradas tablas diseñadas para visualizar los datos de tu negocio.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="p_service_item pl_70">
                    <div class="icon icon_three"><i class="ti-fullscreen"></i></div>
                    <h5 class="f_600 f_p t_color3">Acceso desde cualquier plataforma</h5>
                    <p class="f_400">La responsividad de Magnify garantiza que podrás entrar desde la aplicación, tablet, laptop o computadora.<br /> El diseño de los tableros te permite visualizar la información desde una computadora, laptop o tu celular.  </p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="p_service_item pr_70">
                    <div class="icon icon_four"><i class="ti-vector"></i></div>
                    <h5 class="f_600 f_p t_color3">Registro de compañías ilimitado</h5>
                    <p class="f_400">El sistema te permite registrarte como usuario y agregar las compañías que desees a la plataforma. <br />Permite que los miembros de tu empresa visualicen la información que necesitan para la toma de decisiones</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="p_service_item pl_50 pr_20">
                    <div class="icon icon_five"><i class="ti-cloud-down"></i></div>
                    <h5 class="f_600 f_p t_color3">Una gran experiencia para todo</h5>
                    <p class="f_400">Mantén al tanto a tus múltiples usuarios de manera simultánea, desde una misma plataforma y con una misma sesión.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="p_service_item pl_70">
                    <div class="icon icon_six"><i class="ti-bolt"></i></div>
                    <h5 class="f_600 f_p t_color3">Integración a otros sistemas</h5>
                    <p class="f_400">Nos conectamos con tiendas en línea, puntos de venta y SAT,  consulta los reportes que se generan en tus negocios y obtén las gráficas.</p>
                </div>
            </div>
        </div>
    </div>
</section>